<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>     
    <div id="app" v-cloak>
          <section>
              <input type="text" v-model="changeValue">
              <button @click="add">添加</button>
          </section>
          <section>
              <ul>
                  <!-- 内容是输入参数的循环 -->
                  <li v-for="item,index in values" :key="index">
                      {{item}}
                      <button @click="del(index)">删除</button>
                    </li>
              </ul>
          </section>
    </div>
</body>
<script src="https://cn.vuejs.org/js/vue.js"></script>
<script>
    let vm = new Vue({
        el:"#app",
        data:{
            changeValue:'',
            values:[]
        },
        methods: {
            add:function(){
                //如果输入是空的情况下
                if(!this.changeValue.trim()){
                    alert('请输入非空文字')
                    return;
                }
                //将内容铺入下面渲染栏
                this.values.push(this.changeValue)
                //清空这个文本框
                this.changeValue = ""
            },
            del:function(index){
                //点击删除要删除的选项栏
                this.values.splice(index,1)
            }
        },
    })
</script>
</html>