.app {
  width: 100vw;
  height: 100vh;
  background-image: url("images/bigbgimg.jpeg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes running {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app .hidden {
  display: none;
}
.app .show {
  display: block;
}
.app .miusicbox {
  width: 800px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.app .miusicbox .top {
  display: flex;
  padding: 0 10px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(blue, #00fbff);
}
.app .miusicbox .top .top-left {
  font-size: 24px;
  color: white;
  font-weight: 100;
}
.app .miusicbox .top .top-right {
  height: 30px;
  width: 250px;
}
.app .miusicbox .top .top-right input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 25px;
  text-indent: 20px;
  background: url(images/zoom.png) 220px center no-repeat white;
}
.app .miusicbox .content {
  height: 480px;
  display: flex;
  overflow: hidden;
}
.app .miusicbox .content .content-left {
  width: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.app .miusicbox .content .content-left .songs-list .songs-list-item {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.app .miusicbox .content .content-left .songs-list .songs-list-item .audio-player {
  height: 30px;
  flex: 2;
  background: url(images/table.png) -18px -18px;
}
.app .miusicbox .content .content-left .songs-list .songs-list-item .songs-name {
  height: 30px;
  flex: 6;
  line-height: 30px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app .miusicbox .content .content-left .songs-list .songs-list-item .video-player {
  height: 30px;
  flex: 1;
  background: url(images/table.png) no-repeat left -42px;
}
.app .miusicbox .content .content-left .songs-list .songs-list-item:nth-child(odd) {
  background-color: rgba(0, 255, 153, 0.5);
}
.app .miusicbox .content .content-center {
  width: 40%;
  position: relative;
}
.app .miusicbox .content .content-center .content-center-top {
  position: absolute;
  left: 155px;
  top: 35px;
  transform: rotate(-25deg);
  transform-origin: left top;
  transition: all 1s;
  z-index: 10;
}
.app .miusicbox .content .content-center .playing {
  transform: rotate(5deg);
}
.app .miusicbox .content .content-center .imgurl {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 80px;
  top: 170px;
}
.app .miusicbox .content .content-center .autorotate {
  animation-name: running;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.app .miusicbox .content .content-center .disc {
  position: absolute;
  left: 30px;
  top: 120px;
}
.app .miusicbox .content .content-right {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.app .miusicbox .content .content-right .title {
  font-size: 20px;
  color: #ff8400;
}
.app .miusicbox .content .content-right .content-right-list {
  overflow-y: scroll;
  overflow-x: hidden;
}
.app .miusicbox .content .content-right .content-right-list .content-right-list-item {
  padding: 5px;
  display: flex;
  align-items: flex-start;
}
.app .miusicbox .content .content-right .content-right-list .content-right-list-item .item-img {
  padding: 10px;
}
.app .miusicbox .content .content-right .content-right-list .content-right-list-item .item-img img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.app .miusicbox .content .content-right .content-right-list .content-right-list-item .item-content .item-content-top {
  font-size: 16px;
  color: #6f6f6f;
}
.app .miusicbox .content .content-right .content-right-list .content-right-list-item .item-content .item-content-bottom {
  font-size: 14px;
  color: rgba(255, 0, 0, 0.8);
  font-weight: 300;
}
.app .miusicbox .content .content-right .content-right-list .content-right-list-item:nth-child(even) {
  background-color: rgba(80, 184, 186, 0.2);
}
.app .miusicbox .footer {
  height: 60px;
  background-color: #f1f3f4;
}
.app .miusicbox .footer audio {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.app .miusicbox .footer .footer-vedio .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  z-index: 10;
}
.app .miusicbox .footer .footer-vedio .closemv {
  position: absolute;
  color: white;
  font-size: 30px;
  z-index: 20;
  top: 30px;
  right: 30px;
}
.app .miusicbox .footer .footer-vedio video {
  width: 800px;
  height: 600px;
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
}
